In [ ]:
a=01
print(a)

Cell In[2], line 1
    a=01
      ^
SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers

In [ ]:
a=10
print(a)

10

variable declaration rule

In [8]:
# for = 10  ## cannot use reserved keywords as variable names
# print(for)
# print=10
# print(print)  ## this will not print 10, instead it will print the built-in function 'print' because we have assigned 10 to the variable 'print' which is now overshadowing the built-in function 'print'
del(print)

In [ ]:
print(10)
a=10 ## start with alphabet, can contain alphabets, digits and underscores, cannot contain spaces, cannot use reserved keywords as variable names
print(a)
_a=8 ## start with underscore
print(_a)
__a=9 ## start with double underscore
print(__a)
a1=7 ## can contain digits
print(a1)
# 1a=7 ## cannot start with digits
a_1=6 ## can contain underscores between digits and alphabets
print(a_1)

10

In [ ]:
b=10
b  ## allowed by python but not recommended, it will not print the value of b, instead it will print the built-in function 'b' because we have assigned 10 to the variable 'b' which is now overshadowing the built-in function 'b'
del(b) ## to delete the variable 'b' and restore the built-in function 'b

10

Data Types : data types are build data types as each and every data types belongs to an class
1. int
2. float
3. string
4. complex
5. boolean
6. none
7. list
8. tuples
9. dict
10. set
11. frozenset
12. range

In [12]:
## string : sequence of characters enclosed in single quotes, double quotes or triple quotes
college='LIET'
print(college)
## format output
print(f"my college name is {college}")
print("len",len(college)) ## to find the length of the string
print("type ",type(college)) ## to find the type of the variable

LIET
my college name is LIET
len 4
type  <class 'str'>

In [14]:
name="ritik"
last="yadav"
print(name+last) ## concatenation of strings
print(name+" "+last) ## concatenation of strings with space in between

ritikyadav
ritik yadav

In [ ]:
name="ritik"
upper_case=name.upper() ## to convert the string to upper case
upper_case

'RITIK'

In [16]:
upper_case=name.upper() ## to convert the string to upper case
upper_case

'RITIK'

list:
ordered,collection of heterogeneous elements, allow duplicate and mutable

In [18]:
lst=[1,'w',2,'x']
print(lst)
print(type(lst))

[1, 'w', 2, 'x']
<class 'list'>

In [ ]:
print(lst.reverse()) ## to reverse the list
## why none bcz the reverse() method does not return any value, it modifies the list in place and returns None
print(lst)

None
['x', 2, 'w', 1]

In [20]:
lst2=[1,2,3,4]
lst.extend(lst2)
lst

['x', 2, 'w', 1, 1, 2, 3, 4]

H.w : copy v/s deepcopy

In [33]:
list=[1,2,3,4,5]
print(list)  ## not recommended
tup=(1,2,3,4)
#print(list(tup)) ## list can't act as type caster
del(list)

[1, 2, 3, 4, 5]

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[22], line 4
      2 print(list)  ## not recommended
      3 tup=(1,2,3,4)
----> 4 print(list(tup))

TypeError: 'list' object is not callable

In [23]:
tupl=(1,2,3,1)
tupl

(1, 2, 3, 1)

In [37]:
a=1,2,22,2,2,2 ## 
print(a)
print(type(a))
len(a)
## make tuple mutable
aa=list(a)
aa.append(6)
print(tuple(aa))

(1, 2, 22, 2, 2, 2)
<class 'tuple'>
(1, 2, 22, 2, 2, 2, 6)

In [ ]:
a,b,c=(1,2,3) ## tuple unpacking
print(a)
print(b)
print(c)

In [ ]:
a=3
b=7
c=9
tule=(a,b,c)
tule

(3, 7, 9)

In [38]:
c=(1,2,3)
d=(4,5,6)
print(c+d) ## concatenation of tuples

(1, 2, 3, 4, 5, 6)

In [43]:
dct={'name':'ritik','age':21,'college':'LIET'}
print(dct)
print(list(dct))
print(list(dct.values()))

{'name': 'ritik', 'age': 21, 'college': 'LIET'}
['name', 'age', 'college']
['ritik', 21, 'LIET']

In [44]:
a = input("enter a number: ")
print(a)
print(type(a)) ## input() function always returns a string, so the type of 'a' will be <class 'str'> regardless of what the user inputs. If you want to convert the input to an integer, you can use int() function like this: a = int(input("enter a number: "))

<class 'str'>

In [2]:
lst=[1,2,3,4,5]
for x in lst:
    print(x)

1
2
3
4
5

In [1]:
## While Loop 
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [ ]:
## conditional statements
## if, elif, else

Exceptional Handling
try,except,else,finally

In [2]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))
try:
    print(a/b)
except Exception as e:
     print(e)
finally:
    print("code execution completed")

division by zero
code execution completed

Functions

In [ ]:
def add(a,b):  ## always take function name first letter small as upper case first letter used to define class
    return a+b
add(a=10,b=20) ## yha pe a and b arguments jo humne function ke andar define kiye hai, unko hum arguments kehte hai, aur jab hum function ko call karte hai to usme jo values pass karte hai unko hum parameters kehte hai. yha pe a=10 and b=20 parameters hai.

30