PYTHON :
- Open-Source : source code of language open to everyone , they can see it ,use it and modify it 
- Dynamic Typed: you can define variables at any through out the program without using data types
- High-level Language : human understandable English-like structure
- Interpreted : translate code line by line into machine language 
- Cross-Platform Support : same code works/run on any platform (linux,mac,android)
- Easy-to-learn : recommended to beginners as it has simple and understandable structures
- Rich Library Support : libraries like numpy,matplotlib,sklearn,pandas etc which helps developers to buid faster.
- Object-oriented as well as functional
- Fewer lines of code than other language 
- Indentation is mandatory to indicate the block of code or for readability. In other languages {} are used to define block of code but in python space(indent) at beginning of code is used to define block.

In [ ]:
## Syntax 
print("Hello World")   ## print is a built-in function which used to print the output on console.

Hello World

Declaration of Variables : 

variables : containers to store data value (value can be integer, string,float,complex,boolean etc.)
variables can be defined using alphabets(a-z,A-Z),numbers(0-9)and underscore(_ or __)

Rules to declare variables :
  1. starts with either alphabets(a-z,A-Z) or underscores(_ or __).
  2. don't use numbers at starting.
  3. don't use reserved words as variables.
  4. don't use space in between variable name.

In [ ]:
# variable containing alphabet only
a=10   
print(a)
# variable containing alphabet and number
a1=50
a1a=20
# 1a = 40   ## wrong way to declare variable
print(a1)
print(a1a)
#variable containing alphabet and underscores
_a=90  # starts with single underscore
__a=80 # starts with double underscore
a_b=70 #contains underscore in between
a_=60 # ends with underscore
print(_a)
print(__a)
print(a_b)
print(a_)

10
50
20
90
80
70
60

DATA TYPES :
In python, data types are build data types as each and every data types belongs to an class. We can create those classes using c,c++ language and use it ad data type.
There are following types of data types :
1. Int : 
   refers to integer values (-----,-2,-1,0,1,2,3,------)

In [ ]:
num1 = 10
num2 = -5
num3 = 0
print(type(num1))
print(type(num2))
print(type(num3))

<class 'int'>
<class 'int'>
<class 'int'>

** Question : is a=01 a valid statement in python?

In [ ]:

a=01
print(a)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (4235537163.py, line 2)

Answer : It's a invalid statement. Variable declaration is correct but the problem wwith the value store in variable.Value can be a=0 but not leading with zero like a=01 or a=001.
as interpreter takes this value as octal  or either binary that's not possible and it will give syntax error.

2. float :
   refers to the point values (1.5,0.2,---- 0r exponential values like e3, E-3)

In [ ]:
num1=1.5
num2=1e3 ## 1e3 means 1*10^3 = 1000.0  
num3=1E-3 ## 1E-3 means 1*10^-3 = 0.001
print(type(num1))
print(type(num2))
print(type(num3))

<class 'float'>
<class 'float'>
<class 'float'>

 3. string: refers to sequence of characters enclosed within single quotes(' '), double quotes(" ") and triple quotes(""" """).
 - single quotes('') : used for single line string
 - double quotes("") : used for single line string
 - tripple quotes(""" """ or ''' ''') : multiline string

In [11]:
str1="Hello World"
str2='Hello World'
str3='''Hi everyone
Welcome to python world'''
str4="""Hi everyone
Welcome to python world"""
print(type(str1),type(str2),type(str3),type(str4))
print(str1)
print(str2)     
print(str3)
print(str4)

<class 'str'> <class 'str'> <class 'str'> <class 'str'>
Hello World
Hello World
Hi everyone
Welcome to python world
Hi everyone
Welcome to python world

** Question: why we use single quotes('') and double quotes("") to define single line string?
   
   Answer: There is no specific functional difference between '' and "", we use them so that we don't need to use escape sequence(\' and \") in between the sentence and enhance readability.
   example : think you have to store the string : It's my workspace , if we enclosed with in single quotes it gives synatx error of undetermined string literals . so to ssolve this error we enclosed this string within double quotes or either use escape sequence.
   But avoid use of escape sequence as this maakes code more confusing not readable.

In [22]:
# enclosed within single quotes
str1='It's my workspace'
print(str1)

SyntaxError: unterminated string literal (detected at line 2) (117618962.py, line 2)

In [23]:
# enclosed within double quotes
str2="It's my workspace"
print(str2)
# using escape sequence
str3='It\'s my workspace'
print(str3)

It's my workspace
It's my workspace

 4. Complex : refers to the number containg imaginary part as a+bj here, a is real part but bj is imaginary part

In [10]:
num = 2+3j
num1 = -5j
print(type(num))
print(type(num1))

<class 'complex'>
<class 'complex'>

5. Boolean: represent two values True or False
   use to check or evaluate expression.

In [25]:
exp=True
exp1=False
print(type(exp))
print(type(exp1))
print(9>6)
print(type(9>6))
print(9<6)

<class 'bool'>
<class 'bool'>
True
<class 'bool'>
False

6. NoneType (none) : refers to the absence of value in the variable.

In [ ]:
a=None
print(type(a))

<class 'NoneType'>
<class 'type'>

7. List : collection of heterogeneous data element separated by "," and enclosed within square brackets "[]" 
- mutable : we can manipulate or modify the liet elements
- ordered : stores the element in the same order as it is inserted/append in the list
- indexex : access list element using index
- allow duplicate elements

In [ ]:
lst = [1,2,'abc',3.5,True]
print(type(lst))
print(lst)
print(lst[0]) ## access element of the list using index number

<class 'list'>
[1, 2, 'abc', 3.5, True]
1

List Operations :

In [44]:
lst=[1,'avc',3.5,True,1]
print(lst)
print(len(lst)) ## return the number of elements in the list
lst.append(2+3j)  ## used to add element at the end of the list
print(lst)
lst.append([1,2,3]) ## used to add list as an element at the end of the list
print(lst)
lst.insert(2,'python') ## used to add element at specific index in the list list.insert(index,element)
print(lst)
lst.pop() ## used to remove last element from the list
print(lst)
lst.pop(2) ## used to remove element from specific index in the list list.pop(index)
print(lst)
lst.remove('avc') ## used to remove specific element from the list list.remove(element)
print(lst)
lst.reverse() ## used to reverse the sequence of elements of the list
print(lst)
print(lst.count(1)) ## return the no of specified element in the list
print(lst.index(3.5)) ## return the index of specified element in the list
print(lst.index(1)) ## return the index of first occurrence of specified element in the list

[1, 'avc', 3.5, True, 1]
5
[1, 'avc', 3.5, True, 1, (2+3j)]
[1, 'avc', 3.5, True, 1, (2+3j), [1, 2, 3]]
[1, 'avc', 'python', 3.5, True, 1, (2+3j), [1, 2, 3]]
[1, 'avc', 'python', 3.5, True, 1, (2+3j)]
[1, 'avc', 3.5, True, 1, (2+3j)]
[1, 3.5, True, 1, (2+3j)]
[(2+3j), 1, True, 3.5, 1]
3
3
1

In [ ]:
lst=[1,2,3,4,5]
lst1=lst.copy() ## used to create a copy of the list
print(lst1)
lst2=lst ## used to create a reference of the list 
print(lst2)
lst3=lst.deepcopy(x) ## used to create a deep copy of the list
print(lst3)
lst.pop()
print(lst1)
print(lst2)
print(lst3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

NameError: name 'deepcopy' is not defined

list operations on numeric list :

In [56]:
lst1=[1,2,3,4,5.6,3,0]
print(sum(lst1)) ## return the sum of list elements
print(max(lst1)) ## return the max element from the list
print(min(lst1)) ## return the min element from the list
lst1.sort() ## used to sort the list in ascending order
print(lst1)
## another way to sort
lst1.sort(reverse=True) ## used to sort the list in descending order
print(lst1)
print(sorted(lst1)) ## return a new sorted list without modifying the original list
print(sorted(lst1,reverse=True)) ## return a new sorted list in descending order without modifying the original list

18.6
5.6
0
[0, 1, 2, 3, 3, 4, 5.6]
[5.6, 4, 3, 3, 2, 1, 0]
[0, 1, 2, 3, 3, 4, 5.6]
[5.6, 4, 3, 3, 2, 1, 0]

8. Tuples : collection of heterogeneous data elements separated by ',' enclosed within paranthesis '()'
- immutable : can't modify/manipulate elements of tuple
- ordered 
- allow duplicate elements

In [ ]:
tupl=(1,2,3,1)
print(type(tupl))
a=2,4,5 ## not necessary to enclose the values within parentheses but recommended.
print(type(a))

<class 'tuple'>
<class 'tuple'>

packing and unpacking of tuple elements

In [54]:
a=4
b=6
c=8
tup=(a,b,c) # packing of values in tuple
print(tup)
c,d,e=tup # unpacking of values from tuple
print(c)
print(d)
print(e)

(4, 6, 8)
4
6
8

Tuple operations :

In [63]:
tupl=(1,2,3,1)
print(tupl)
print(len(tupl)) ## return the number of elements in the tuple
print(tupl[2]) ## access element of the tuple using index number
print(tupl.count(1)) ## return the no of specified element in the tuple
print(tupl.index(3)) ## return the index of specified element in the tuple
print(tupl.index(1)) ## return the index of first occurrence of specified element in the tuple  
print(sum(tupl)) ## return the sum of tuple elements
print(max(tupl)) ## return the max element from the tuple
print(min(tupl)) ## return the min element from the tuple   
tupl2=tupl ## we can't copy tuple but give reference of the tuple to another tuple variable.
print(tupl2)

(1, 2, 3, 1)
4
3
2
2
0
7
3
1
(1, 2, 3, 1)

In [61]:
tupl=(1,2,3,1)
print(sorted(tupl)) ## return the sorted list of tuple elements

[1, 1, 2, 3]

make tuple mutable using list type casting:

In [ ]:
a=1,2,22,2,2,2 ## 
print(a)
## make tuple mutable
aa=list(a)
aa.append(6)
print(tuple(aa))

(1, 2, 22, 2, 2, 2)
<class 'tuple'>
(1, 2, 22, 2, 2, 2, 6)

concatenation of tuples : make new tuple by joining two tuples usding "+" operator.

In [38]:
c=(1,2,3)
d=(4,5,6)
print(c+d) ## concatenation of tuples

(1, 2, 3, 4, 5, 6)

9. Dictionary : collection of heterogeneous items(key:value pair) enclosed within curly braces "{}"
- mutable
- unique keys but allow duplicate values so overall no duplicates
- ordered
- non-indexed as values can be access using keys in the dictionary

In [8]:
dct={} ## empty dictionary
dct['name']='ritik' ## adding key-value pair to the dictionary
dct['age']=21
dct['college']='LIET'
print(dct)
print(type(dct))
dct1={'name':'ritik','age':21,'college':'LIET'} ## another way to create dictionary
print(dct1)
dct2={'student':{'name':'ritik','age':21,'college':'LIET','subjects':['python','java','c++']}} 
## values can be int, string or in the form of list, tuple,even dictionary itself
print(dct2)

{'name': 'ritik', 'age': 21, 'college': 'LIET'}
<class 'dict'>
{'name': 'ritik', 'age': 21, 'college': 'LIET'}
{'student': {'name': 'ritik', 'age': 21, 'college': 'LIET', 'subjects': ['python', 'java', 'c++']}}

Dictionary Operations :

In [3]:
dict={'name':'ritik','age':21,'college':'LIET'}
print(len(dict)) ## return the number of key-value pairs in the dictionary
print(dct['name']) ## access value of the key using key name
print(dct.get('age')) ## access value of the key using get() method
print(dct.keys()) ## return  keys of the dictionary
print(dct.values()) ## return values of the dictionary
print(dct.items()) ## return items (key-value pairs) of the dictionary

3
ritik
21
dict_keys(['name', 'age', 'college'])
dict_values(['ritik', 21, 'LIET'])
dict_items([('name', 'ritik'), ('age', 21), ('college', 'LIET')])

** Question : What will happen when you insert two same key but with different values ?

   Answer: As we know Dictionary doesn't allow any duplicacy of keys , keys must be unique. In this case dictionary takes first key with values and overwrite the value of key when you insert the same key-value pair.

In [ ]:
dict={'name':'ritik','age':21,'college':'LIET'}
print(dict)
dict2={'name':'ritik','name':'ritik kumar','age':21,'college':'LIET'} 
## if we have duplicate keys in the dictionary then value of first key-value pair overwritten by other one.
print(dict2)

{'name': 'ritik', 'age': 21, 'college': 'LIET'}
{'name': 'ritik kumar', 'age': 21, 'college': 'LIET'}

In [14]:
dict={'name':'ritik','age':21,'college':'LIET'}
print(dict)
dict.update({'grad_year':2023}) 
## used to update or add new item in the dictionary dict.update({key:value})
print(dict)
dict2=dict.copy() ## used to create a copy of the dictionary
print(dict2)
dict.pop('grad_year') ## used to remove specified key-value pair from the dictionary dict.pop(key)
## in dictionary pop need argument of key which we want to remove
print(dict)
dict.popitem() ## remove last item (key:value) pair from the dictionary
print(dict)
dict.clear() ## used to remove all items from the dictionary
print(dict)
print(dict2)

{'name': 'ritik', 'age': 21, 'college': 'LIET'}
{'name': 'ritik', 'age': 21, 'college': 'LIET', 'grad_year': 2023}
{'name': 'ritik', 'age': 21, 'college': 'LIET', 'grad_year': 2023}
{'name': 'ritik', 'age': 21, 'college': 'LIET'}
{'name': 'ritik', 'age': 21}
{}
{'name': 'ritik', 'age': 21, 'college': 'LIET', 'grad_year': 2023}

10. set : collection of unique elements enclosed within {}
- unordered
- unindexed
- mutable
- no duplicacy

In [32]:
sets={1,'hi',2.5,True,1}
print(sets) ## The values True and 1 are considered the same value in sets, and are treated as duplicates
print(type(sets))
set2={1,'hi',2.5,False,1}
print(set2)
set3={1,'hi',2.5,0,False} ## The values False and 0 are considered the same value in sets, and are treated as duplicates
print(set3)

{1, 2.5, 'hi'}
<class 'set'>
{False, 1, 2.5, 'hi'}
{0, 1, 2.5, 'hi'}

Sets operations :

In [ ]:
sets={1,'hi',2.5,True,1}
print(sets)
print(len(sets))
 
sets.add(6) ## used to add element in the set
print(sets)
sets.remove(6)
print(sets)
sets.discard(2) ## used to remove element from the set sets.discard(element)
print(sets)
sets.pop() ## used to remove random element from the set
print(sets)
set2={2,5,3}
sets.update(set2) ## used to add multiple elements in the set sets.update(set)
print(sets)
## you can also add list, tuple or dictionary in the set using update() method
lst=[7,8,9]
sets.update(lst)
print(sets)
sets.clear() ## used to remove all elements from the set
print(sets)

{1, 2.5, 'hi'}
3
{1, 2.5, 'hi', 6}
{1, 2.5, 'hi'}
{1, 2.5, 'hi'}
{2.5, 'hi'}
{2.5, 2, 3, 5, 'hi'}
{2.5, 2, 3, 5, 7, 8, 9, 'hi'}
set()

** Question: Difference between remove(),discard() and pop()?
   Answer: 
   1. remove() gives error when specified item/element not present in the set where discard() doesn't raise any error
   2. remove() and discard() are just used to remove specified item but they never return any value whereas pop() used to remove random item from set as well as return that removed value

In [45]:
sets={1,2,3,4}
sets.remove(5)

KeyError: 5

In [48]:
sets={1,2,3,4}
sets.discard(5)
print(sets.remove(2))
print(sets.discard(3))
print(sets.pop())

None
None
1

set operations on two sets :

In [55]:
set1={1,2,3}
print(set1)
set2=set1.copy() ## used to create a copy of the set
print(set2)
set2.update((4,5))
print(set2)

## operations on two sets
print(set1.union(set2)) ## return a new set containing all unique elements from both sets
print(set1 | set2) ## | represents union
print(set1.intersection(set2)) ## return set of common elements
print(set1 & set2) ## & represents intersection
print(set1.difference(set2)) ## return set of elements present in set1 but not  
print(set2 - set1) ## - represents difference

{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3}
{1, 2, 3}
set()
{4, 5}

** Question: sets are unindexed and unordered as well as not a key:value pair then how can you   access elements of sets.

Answer : we can't access single element  of set, we just check if specified element present in set or not and access all elements presents in the set using for loop.

In [60]:
sets={1,'hi',2.5,True,1}
print(1 in sets) ## return true if 1 is present in set otherwise false
## in is the operator which is used to check the presence of element in the set

for i in sets:
    print(i) ## used to iterate through the set elements

True
1
2.5
hi

11. FrozenSet : immutable version of set

In [65]:
x={1,2,3}
print(type(x))
y=frozenset(x)
print(type(y))
print(y)
y.add(6) ## you can't add element in frozenset because it's immutable
print(y)

<class 'set'>
<class 'frozenset'>
frozenset({1, 2, 3})

AttributeError: 'frozenset' object has no attribute 'add'

NOTE : all operations performed on sets can also be performed on frozen sets